/* app css stylesheet */

img.poster {
	height:200px;
	margin:10px 10px 0 0;
	cursor: pointer;
}

img.large-poster {
	width: 340px;
	float: left;
	margin-left: 10px;
}

.modal { width: 800px;
                 min-height:400px;
                 margin-left:-400px;
                 max-height:90%;
                 overflow-y:auto;
                }

i.icon-large {
	color: #d44413;
	cursor: pointer;
}

#controls, #castbtns, #playbackbtns {
	float:left;
}

#playbackbtns {
	margin-left: 275px;
}

#closebtn {
	float:right;
}

#ytvids-list {
  float:right;
  margin-right:10px;
  width: 330px;
}