<chromecast appid="YouTube"/>
<img class="disney-character" src="img/sofia.jpg" ng-click="ytSearch({'q':'Sofia the First','channel':'UCNcdbMyA59zE-Vk668bKWOg'})"/>
<img class="disney-character" src="img/jake.png" ng-click="ytSearch({'q':'Jake and the Neverland Pirates','channel':'UCNcdbMyA59zE-Vk668bKWOg'})"/>
<img class="disney-character" src="img/doc.jpg" ng-click="ytSearch({'q':'Doc McStuffins','channel':'UCNcdbMyA59zE-Vk668bKWOg'})"/>
<img class="disney-character" src="img/octonaut.png" ng-click="ytSearch({'q':'Octonauts','channel':'UCNcdbMyA59zE-Vk668bKWOg'})"/>
<img class="disney-character" src="img/minnie.png" ng-click="ytSearch({'q':'Minnie Mouse','channel':'UCNcdbMyA59zE-Vk668bKWOg'})"/>
